@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khitan+Small+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khitan+Small+Script&family=Prosto+One&display=swap');
@import url(Media/Css/root.css);

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    opacity: 0;
}

.container {
    width: 70vw;
    height: 80vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 24px;
    box-shadow: 0 0 15px #000000bb;
}

.container .box {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--color2);
    gap: 12px;
}

.container .box#wp {
    background-image: url(Media/Images/Plantas_wp.jpg);
    background-size: cover;
    border-radius: 24px 0 0 24px;
    width: 60%;
}

.container .box#wp .wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent, #000);
}

.container .box h1 {
    font-family: "Prosto One", sans-serif;
    font-weight: 380;
    font-style: normal;
    font-size: 190%;
}

.container .box form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    gap: 14px;
}

.container .box form label {
    font-size: 18px;
    font-family: "Noto Serif Khitan Small Script", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    align-self: flex-start;
    width: 100%;
    border-bottom: solid var(--color2) 2px;
    padding: 0 6px 0 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.container .box form input[type="email"],
.container .box form input[type="password"],
.container .box form input[type="text"] {
    width: 100%;
    background: none;
    border: transparent 0px solid;
    color: var(--color2);
    padding: 4px;
    font-size: 16px;
    font-weight: 550;
    outline: none;
}

.container #pressable {
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    transition: 1s;
}

.container form p {
    color: var(--color2);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.container .box form button {
    width: auto;
    align-self: flex-end;
    cursor: pointer;
    border: none;
    background-color: var(--color2);
    color: var(--color1);
    font-size: 16px;
    font-family: "Noto Serif Khitan Small Script", serif;
    font-weight: 900;
    font-style: italic;
    line-height: 30px;
    border-radius: 0 12px 0 12px;
    padding: 0 12px;
}

#loadingElement {
    width: 3vh;
    height: 3vh;
    animation: infinite linear girar 2.5s;
}

.passwordContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

#passEye {
    width: 28px;
    height: auto;
    z-index: 100;
    cursor: pointer;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes girar {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes esmaecer {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 460px) {

    .container {
        flex-direction: column;
        width: 95%;
        height: 100vh;
        background-image: url(Media/Images/Plantas_wp.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container .box,
    .container .box#wp {
        width: 100%;
        display: flex;
        align-items: center;
        backdrop-filter: blur(4px) grayscale(60%);
    }

    .container .box h1 {
        font-size: 170%;
    }

    .container .box#wp {
        border-radius: 24px 24px 0 0;
        height: 0;

    }

    .container .box#wp .wrapper {
        background-image: linear-gradient(to bottom, transparent, transparent);
    }

    .container .box form label {
        font-size: 140%;
    }

    .container .box form input[type="email"],
    .container .box form input[type="password"] {
        font-size: 110%;
        background-color: #242424ee;
        border-radius: 0 24px 24px 0;
        border-right: solid var(--color2) 2px;
        padding: 6px;
    }
}